@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">To moja baza danych filmów</h1>
   <p>Możesz ją edytować i dodawać własne oceny.</p>
    <p><a href="/movies">Kliknij tutaj, aby wyświetlić bazę</a></p>

</div>
